*{
    margin: 0;
    padding: 0;
}

.outer
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p
{
    background: blue;
    color: yellow;
}